@import 'ember-radical/styles';

span {
  font-size: 2em;
}

.wrapper {
  margin: 1em;
}

.elevator-single {
  padding: 1em;
  margin: .5em;  
  border: 1px solid red;
}

.doorsOpen {
  border: 1px solid green;
}

.status-bulb {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
}

.unavailable {
  background-color: red;
}