@import 'ember-radical/styles';

body {
  background-color: #fcf9e5;
}

h1 {
  text-align: center;
  color: darkslategrey;
  margin: 1em;
}

h4 {
  font-size: 2em;
  color: ghostwhite;
}

.wrapper {
  width: 70%;
  max-width: 750px;
  margin: 1em auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.floor-box {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: black;
}

.active {
  color: red;
}

.lobby-controls {
  margin: 2em;
}

.elevator-single {
  padding: 1em;
  margin: .5em;  
}

.status-bulb {
  margin: 1em auto;
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
}

.unavailable {
  background-color: red;
}

.alert-box {
  max-width: 50%;
  margin: auto;
}

.single-controls {
  display: flex;
}