@import 'ember-radical/styles';

span {
  color: green;
  font-size: 2em;
}

.wrapper {
  margin: 1em;
}

.elevator-single {
  padding: 1em;
  margin: .5em;  
  border: 1px solid red;
}

.doorsOpen {
  border: 1px solid green;
}