<h1>Mediocre Tower</h1>
{{elevator-dashboard}}
<div class="container">
  <h1>MACHO MAN RANDY SAVAGE <span class="badge badge-pill badge-success">OH YEAH</span></h1>
  <button class="btn btn-secondary">HEYYO</button>
  <div class="row">
    <ul class="col">
      <li>Testing1</li>
      <li>Testing2</li>
      <li>Testing3</li>
    </ul>
    <ul class="col">
      <li>Testing4</li>
      <li>Testing5</li>
      <li>Testing6</li>
    </ul>
    <ul class="col">
      <li>Testing7</li>
      <li>Testing8</li>
      <li>Testing9</li>
    </ul>
  </div>
</div>